<div class="guest_show_group">

<h5><%= @guest.format_name %></h5>

<h7> Room: <%= @guest.room.room_name.capitalize %></h7>

<a id="edit_link" href="/guests/<%= @guest.id %>/edit"> Edit Details </a>

<ul class= "ul_styling">

<li class= "button_inline">
<form action="/guests/<%= @guest.id %>/delete" method="POST">
<input class="delete_button" type="submit" value="Delete">
</form>
</li>

<li class= "button_inline">
<form action="/guests/<%= @guest.id %>/delete" method="POST">
<input class="check_out_button" type="submit" value="Check out">
</form>
</li>

</ul>

</div>
